<form method="post" action="{{ path('app_ads_delete', {'id': ad.id}) }}" onsubmit="return confirm('Êtes-vous certain de SUPPRIMER l'annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
    <button class="btn btn-sm btn-danger">SUPPRIMER L'ANNONCE</button>
</form>
